* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--tui-scrollbar) transparent;
	-webkit-overflow-scrolling: touch;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}

body {
	--tui-font: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--tui-font-mono: 'Fira Mono', monospace;
}

/*	base reset ----------------------------- */
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}

html,
body {
	width: 100%;
	height: 100%;
}

/*	link reset ----------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	position: relative;
}

a:hover {
	text-decoration: underline;
}
